<!DOCTYPE html>
<html>
<head>
	<title>pixoatic.com</title>
</head>
<body>

<h1 style="color: green">Please Re - Enter Employee Information</h1>
<p>Hello ! Admin Please check information and Correct	</p>
<%= render "form", employee: @employee %>

</body>
</html>